<!doctype html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
  <style type="text/css">
    h2 {
      color: #e7454a;
    }
    p hr {
      color: #2d2a24;
    }
    img {
      max-width: 200px;
      max-height: 220px;
    }
  </style>
</head>
<body>
  <h2><%= @user.name %> 様</h2>
  <hr />
  <p>
    ザイコン運営事務局から、<%= @good.name %>の在庫数に関するお知らせです。
  </p>
  <br>
  <p>
    現在在庫数は、残り <%= @good.stock_num %><%= @good.counting_type %> です
  </p>
  <%= image_tag(@good.image) %>
  <p>
    注文はコチラから→<%= @good.amazon_url %>
  </p>
  <br>
  <p>
    ザイコン運営事務局は、<%= @user.name %>さんの快適な在庫管理ライフを応援しています。
  </p>
  <hr />
</body>
</html>
