<span class="col-xs-12 col-sm-6 col-md-4 col-lg-3 clear">
<ul id="<%= good.id %>" class="count flame">
  <!-- 画像の表示 -->
  <span class="image">
    <%= image_tag(good.image) %>
  </span>
  <!-- 商品名の表示 -->
  <span class="modal">
    <a>商品名：<%= good.name %></a>
  </span>
  <!-- 在庫数・単位・の表示 -->
  <span class="botton">
    <span class="left-botton">
      <%= form_tag('goods/num_down', remote: true, id: "good_#{good.id}") do %>
        <%= hidden_field_tag :id, good.id %>
        <%= submit_tag("ー") %>
      <% end %>
    </span>
    <span class="remaining">
      <span class="fonts">
        あと
        <span id="good_<%= good.id %>_num" class="num"><%= good.stock_num %></span>
        <% if good.counting_type.length == 1 %>
          <span><%= good.counting_type %></span>
        <% else %>
          <span><span class="small"><%= good.counting_type %></span></span>
        <% end %>
      </span>
    </span>
    <span class="right-botton">
      <%= form_tag('goods/num_up', remote: true, id: "good_#{good.id}") do %>
        <%= hidden_field_tag :id, good.id %>
        <%= submit_tag("＋") %>
      <% end %>
    </span>
  </span>

  <span class="modal">
  <!-- 通知在庫数の表示 -->
    <li>通知を送る最低在庫数：<%= good.notification_num %> <%= good.counting_type %></li>
  <!-- amazonへのリンク -->
    <li><a href="<%= good.amazon_url %>" target="blank">購入画面へ</a></li>
  <!-- 編集画面へのリンク -->
    <li>
      <%= link_to '編集する', edit_good_path(good) %>
    </li>
  <!-- 削除機能 -->
    <li>
      <%= link_to '削除する', good_path(good), method: :delete %>
    </li>
  </span>
</ul>
</span>
