<div class="contents row">
<h2 class="index_new">商品情報の編集</h2>
    <%= form_for(@good, url: good_path) do |f| %>

    <div class="form-group">
        <%= f.label :商品名 %><br />
        <%= f.text_field :name, placeholder: "#{@good.name}", class: "form-control form_height" %>
        </div>
    <br>

    <div class="form-group">
        <%= f.label :現在の在庫数（半角英数） %><br />
        <%= f.text_field :stock_num, placeholder: "#{@good.stock_num}", class: "form-control form_height" %>
        </div>
    <br>

    <div class="form-group">
        <%= f.label :通知在庫数（半角英数） %><br />
        <%= f.text_field :notification_num, placeholder: "#{@good.notification_num}", class: "form-control form_height" %>
        </div>
    <br>

    <div class="form-group">
        <%= f.label :数え方 %><br />
        <%= f.text_field :counting_type, placeholder: "#{@good.counting_type}", class: "form-control form_height" %>
        </div>
    <br>

    <div class="form-group">
        <%= f.label :画像のURL %><br />
        <%= f.text_field :image, placeholder: "#{@good.image}", class: "form-control form_height" %>
    </div>
    <br>

    <div class="form-group">
        <%= f.label :AmazonのURL %><br />
        <%= f.text_field :amazon_url, placeholder: "#{@good.amazon_url}", class: "form-control form_height" %>
        </div>
    <br>

    <div class="form-group">
    <%= f.label :カテゴリーID（半角英数） %><br />
    <%= f.text_field :category_id, placeholder: "#{@good.category_id}", class: "form-control form_height" %>
    </div>
    <br>

    <p>あなたのカテゴリー 一覧</p>
    <a class="deco_none">ID</a><a class="deco_none">&nbsp;&nbsp;カテゴリー名</a>
    <br>
    <% @categories.each do |category| %>
      <%= category.id %>
      &nbsp;&nbsp;&nbsp;&nbsp;<%= category.name%>
      <br>
    <% end %>
    <br>

    <%= f.submit "再登録する" , class: "submit form_height"%>
    <% end %>
</div>
