<div class="contents row">
<h2 class="index_new">商品情報の編集</h2>

<% if @good.present?  %>
    <% if @good.errors.any? %>
      <div id="error_explanation">
        <h2><%= @good.errors.count %>件のエラーが発生しました。</h2>

        <ul>
        <% @good.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

<!-- モーダルopen部分 -->
  <div data-target="con1" class="modal-api-open">
    <input type="submit" class="submit form_height" value="商品を検索して再登録" style="text-align: center;"></input>
  </div>
  <br>

<!-- モーダル検索部分 -->
  <div id="con1" class="modal-content modal_menu container">
    <h2 class="index_new">商品名を検索してください</h2>
      <div id="search-box">
        <%= form_tag('new', method: :get, class: "search_form") do %>
          <!-- <div class="form-group"> -->
            <%= text_field_tag :api_good_search, "",  id: "api_good_search", name: "keyword", placeholder: "キーワードを打ち込んでください", style: "width: 100%; display: inline;", class: "form-control form_height" %>
          <!-- </div> -->
        <% end %>
      </div>
      <div id='api_good_list'>
       <%= render partial: 'api_good' %>
      </div>
  </div>

    <%= form_for(@good, url: good_path) do |f| %>

    <div class="form-group">
        <%= f.label :商品名 %><br />
        <%= f.text_field :name, placeholder: "#{@good.name}", class: "form-control form_height" %>
        </div>
    <br>

    <div class="form-group">
        <%= f.label :現在の在庫数（半角英数） %><br />
        <%= f.text_field :stock_num, placeholder: "#{@good.stock_num}", class: "form-control form_height" %>
        </div>
    <br>

    <div class="form-group">
        <%= f.label :通知在庫数（半角英数） %><br />
        <%= f.text_field :notification_num, placeholder: "#{@good.notification_num}", class: "form-control form_height" %>
        </div>
    <br>

    <div class="form-group">
        <%= f.label :数え方 %><br />
        <%= f.text_field :counting_type, placeholder: "#{@good.counting_type}", class: "form-control form_height" %>
        </div>
    <br>

    <div class="form-group">
        <%= f.label :画像のURL %><br />
        <%= f.text_field :image, placeholder: "#{@good.image}", class: "form-control form_height" %>
    </div>
    <br>

    <div class="form-group">
        <%= f.label :AmazonのURL %><br />
        <%= f.text_field :amazon_url, placeholder: "#{@good.amazon_url}", class: "form-control form_height" %>
        </div>
    <br>

    <div class="form-group">
      <%= f.label :カテゴリーの選択 %><br>
      <% @categories.each do |category| %>
      <div class="radio">
        <%= f.radio_button :category_id , "#{category.id}", class: "form-control form_height radio_botton" %>
        <span class="radio_text"><%= category.name %></span>
      </div>
      <% end %>
    </div>
    <br>

    <%= f.submit "再登録する" , class: "submit form_height"%>
    <% end %>
</div>
