<span class="col-xs-12 category">
  <span class="category_group">
    <% @categories.each_with_index do |category, i| %>
      <% if i == 0 %>
        <a class="active list-<%= i %>" id="list"><%= category.name %></a>
      <% else %>
        <a id="list" class="list-<%= i %>"><%= category.name %></a>
      <% end %>
    <% end %>
  </span>
</span>

<div class="goods_list">
  <div class="container outher_flame">
    <% @categories.each_with_index do |category, i| %>
      <% if i == 0 %>
        <span class="active list-<%= i %>"><%= render partial: "goods/good", collection: category.goods %></span>
      <% else %>
        <span class="list-<%= i %> box" style="display: none;"><%= render partial: "goods/good", collection: category.goods %></span>
      <% end %>
    <% end %>
  </div>
</div>
