<div class="contents row">

  <h2 class="index_new">新しい商品を登録</h2>
  <br>

  <% if @good.present?  %>
    <% if @good.errors.any? %>
      <div id="error_explanation">
        <h2><%= @good.errors.count %>件のエラーが発生しました。</h2>
        <ul>
        <% @good.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

<!-- モーダルopen部分 -->
  <div data-target="con1" class="modal-api-open">
    <input type="submit" class="submit form_height" value="商品を検索して登録" style="text-align: center;"></input>
  </div>
  <br>

<!-- モーダル検索部分 -->
  <div id="con1" class="modal-content modal_menu container">
    <h2 class="index_new">商品名を検索してください</h2>
      <div id="search-box">
        <%= form_tag('new', method: :get, class: "search_form") do %>
          <!-- <div class="form-group"> -->
            <%= text_field_tag :api_good_search, "",  id: "api_good_search", name: "keyword", placeholder: "キーワードを入力してください", style: "width: 100%", class: "form-control form_height" %>
          <!-- </div> -->
        <% end %>
      </div>
      <div id='api_good_list'>
       <%= render partial: 'api_good' %>
      </div>
  </div>

  <div style="text-align: center; text-decoration: underline; color: red;"><%= @alert3 if @alert3.present? %></div>

<!-- 以下入力フォーム -->
  <%= form_for(@good , url: goods_path) do |f| %>

    <div class="form-group">
    <%= f.label :商品名 %><br />
    <%= f.text_field :name, placeholder: "例）おーいお茶 500ml" , class: "form-control form_height" %>
    </div>
    <br>

    <div class="form-group">
    <%= f.label :現在の在庫数（半角英数） %><br />
    <%= f.text_field :stock_num, placeholder: "現在の在庫数を入力してください" , class: "form-control form_height" %>
    </div>
    <br>

    <div class="form-group">
    <%= f.label :通知を送る在庫数（半角英数） %><br />
    <%= f.text_field :notification_num, placeholder: "アカウントへ通知を送る在庫数を入力してください" , class: "form-control form_height" %>
    </div>
    <br>

    <div class="form-group">
    <%= f.label :数え方 %><br />
    <%= f.text_field :counting_type, placeholder: "例）本、袋、ダースなど" , class: "form-control form_height" %>
    </div>
    <br>

    <div class="form-group">
    <%= f.label :画像のURL %><br />
    <%= f.text_field :image, placeholder: "urlを入力してください" , class: "form-control form_height" %>
    </div>
    <br>

    <div class="form-group">
    <%= f.label :AmazonのURL %><br />
    <%= f.text_field :amazon_url, placeholder: "urlを入力してください", class: "form-control form_height"  %>
    </div>
    <br>

    <div class="form-group">
      <%= f.label :カテゴリーの選択 %><br>
      <% @categories.each do |category| %>
      <div class="radio">
        <%= f.radio_button :category_id , "#{category.id}", class: "form-control form_height radio_botton" %>
        <span class="radio_text"><%= category.name %></span>
      </div>
      <% end %>
    </div>

    <div class="form-group">
      <br>
      <%= f.submit "登録する" , class: "submit form_height" %>
    </div>
    <br>
  <% end %>

</div>
